.html, body {
    background-image: linear-gradient(45deg, #dad98c, #b3b36a);
}

.button {
    color: rgb(0, 0, 0);
    background-image: linear-gradient(45deg, #dad98c, #b3b36a);
    border: 2px solid rgb(109, 108, 38);
    transition-duration: 0.4s;
}

.button:hover {
  background-image: linear-gradient(45deg, #c7c675, #a5a55c);
  border: 2px solid rgb(77, 76, 23);
  transition-duration: 0.4s;
}

.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.button:active {
    transition-duration: 0.05s;
  transform: translateY(2px);
}